
    <div class="col-md-8">
        <ul class="text-right">
            <li>
                <a href="">English</a>
            </li>
            <li>
                <a href="">German</a>
            </li>
        </ul>
        <nav>
            <ul>
                {% if is_granted('ROLE_USER') and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a href="{{ path('game') }}">Game</a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('signup') }}">Register</a>
                    </li>
                    <li>
                        <a href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('contact') }}">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>